services:
  app:
    build:
      context: ./app
    environment:
      - SERVICE_NAME=${SERVICE_NAME}
      - SERVICE_VERSION=${SERVICE_VERSION}
    restart: unless-stopped
    networks:
      - skeleton

  nginx:
    image: nginx:stable-alpine
    ports:
      - "${PORT}:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    restart: unless-stopped
    networks:
      - skeleton

networks:
  core:
    driver: bridge
